<template name="userMenu">
  {{#if isLoggedIn}}
    <div class="user-menu dropdown header-submodule">
      <a class="view dropdown-top-level" href="/">{{name}}</a>
      <div class="dropdown-menu">
        <ul role="menu" aria-labelledby="dLabel">
          {{#each dropdownItems}}
            {{> UI.dynamic template=menuItem data=this}}
          {{/each}}
        </ul>
      </div>
    </div>
  {{else}}
    <a class="account-link sign-in" href="{{pathFor route='atSignUp'}}">{{_ "sign_up"}}</a>
    <a class="account-link sign-up" href="{{pathFor route='atSignIn'}}">{{_ "sign_in"}}</a>
  {{/if}}
</template>
