<template name="users">
    <div class="grid grid-module">
      <div class="user-table grid-block">
        <h2>{{_ "users"}}</h2>
        <div class="filter-sort">
          <p class="filter">
            <span>{{_ "filter_by"}}: </span>
            {{#each filters}}
              <a class="{{activeClass this}}" href="{{filterBy this}}">{{_ this}}</a>
            {{/each}}
          </p>
          <p class="sort">
            <span>{{_ "sort_by"}}: </span>
            {{#each sorts}}
              <a class="{{activeClass key}}" href="{{sortBy key}}">{{_ textKey}}</a>
            {{/each}}
          </p>
        </div>
        <table>
          <thead>
            <tr>
              <td colspan="2">{{_ "name"}}</td>
              <td>{{_ "member_since"}}</td>
              <td>{{_ "posts"}}</td>
              <td>{{_ "comments_"}}</td>
              <td>{{_ "karma"}}</td>
              <td>{{_ "invites"}}</td>
              <td>{{_ "invited"}}</td>
              <td>{{_ "admin"}}</td>
              <td>{{_ "actions"}}</td>
            </tr>
          </thead>
          <tbody>
              {{#each users}}
                {{> UI.dynamic template=user_item}}
              {{/each}}
          </tbody>
        </table>
        {{#if hasMore}}
          <div class="grid more-button">
            <a class="more-link" href="#">{{_ "load_more"}}</a>
          </div>
        {{/if}}
      </div>
    </div>
</template>